*{
    box-sizing:content-box ;
    font-family:Tahoma, Verdana, sans-serif;
}

.formConnexion{
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
     background: #d8d3d8; 
    text-align: center;
    border-radius: 10px;
    border: 0.10px solid #8c8c8db4;
}
.formConnexion input[type = "text"],.formConnexion input[type ="password"]{
    border: 0;
    line-height: 2.5;
    font-size: 14px;
    background: #ffffff;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #7d7e80;
    padding: 14px 20px; 
    width: 250px;
    outline: none;
    color: #4B5760;
    border-radius: 40px;
    transition: 0.25s;
  }
  .formConnexion input[type = "text"]:focus, .formConnexion input[type ="password"]:focus{
    width: 280px;
    border-color: #959596;
  }
  .formConnexion button[type = "submit"]{
  border:0;
  line-height: 1.5;
  display: block;
  margin:40px auto;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: #4B5760;
  padding: 12px 80px;
  outline: none;
  color: #ffffff;
  border-radius: 40px;
  transition: 0.25s;
  /* cursor: pointer; */
  font-size: 24px;
  overflow: hidden;
  }
  
  .formConnexion button:hover {
    background:#DF0059 ;
    box-shadow: 0 0 20px 10px hsla(320, 2%, 37%, 0.5);
  }
  .Account{
    color: white;
    font: 0.8em sans-serif;
    padding-top: 20px;
    padding-left:10px;
    display:flex;
  justify-content:center;
  }
  .inscrivezvous {
    text-align:center;
  }
  #inscrivezvous2 {
    text-align:center;
    padding-left:50px;
  }
  .Account a{
    color: white;
    font-size: 12px;
  }